.hero {
		width: 100vw;
		height: 100vh;
		display: flex;
		flex-direction: column;
		background-color: var(--yellow);
		.hero-h1-row {
			display: flex;
			margin: 20px 20px 20px;
            column-gap: 8px;
			overflow: hidden;
			.logo-letters{
				clip-path: inset(0px 0px 0px 0px);
			}
		}
		.hero-menu-row {
			margin: 0 20px;
			overflow: hidden;
			ul {
				list-style-type: none;
				display: flex;
				width: 100%;
				justify-content: space-between;
			}
		}
	}
	a {
		text-decoration: none;
		color: inherit;
        font-size: 24px;
	}