---
import LandingPageLayout from "../layouts/LandingPageLayout.astro";
import {
	Oletter,
	Nletter,
	Eletter,
	Bletter,
	Xletter,
} from "../components/LogoSvg.astro";
import "../styles/landingpage.scss";

const hourNow = new Date().toLocaleTimeString("en-US", {
	hourCycle: "h24",
	timeStyle: "medium",
});
---

<LandingPageLayout>
	<section class="intro">
		<div class="boxes box-1">
			<h1 class="intro-header">{hourNow}</h1>
		</div>
		<div class="boxes box-2"></div>
		<div class="boxes box-3"></div>
		<div class="boxes box-4"></div>
		<div class="boxes box-5"></div>
	</section>
	<section class="hero">
		<div class="hero-h1-row">
			<Oletter class="logo-letters" />
			<Nletter class="logo-letters" />
			<Eletter class="logo-letters" />
			<Bletter class="logo-letters" />
			<Oletter class="logo-letters" />
			<Xletter class="logo-letters" />
		</div>
		<div class="hero-menu-row">
			<nav>
				<ul>
					<li>
						<a class="nav-texts" href="#">HOME</a>
					</li>
					<li>
						<Oletter class="nav-texts nav-separator" />
					</li>
					<li>
						<a class="nav-texts" href="#">ABOUT</a>
					</li>
					<li>
						<Oletter class="nav-texts nav-separator" />
					</li>
					<li>
						<a class="nav-texts" href="#">WORKS</a>
					</li>
				</ul>
			</nav>
		</div>
	</section>
	<section class="works">
		<div class="works-rows">
			<div class="works-cols works-col-1">
				<h1 class="works-indicator">WHY</h1>
			</div>
			<div class="works-cols works-col-2">
				<div class="works-text-container">
					<h1 class="works-header">WE DEFINE THE FUTURE</h1>
					<p class="works-paragraph">
						STRATEGIC BRAND CONSULTANCY HELPING VISIONARY LEADERS
						ARCHITECT UNIQUE IDENTITIES THAT DOMINATE
					</p>
				</div>
			</div>
			<div class="works-cols works-col-3">
				<p class="works-indicator">001./</p>
			</div>
		</div>
		<div class="works-rows-image">
			<div class="works-rows-text-container">
				<div class="works-row works-row-text-1">
					<h1 class="one">ONE</h1>
					<h1 class="box">BOX</h1>
				</div>
				<div class="works-row works-row-text-3">
					<h1 class="at">AT</h1>
				</div>
				<div class="works-row works-row-text-4">
					<h1 class="a">A</h1>
					<h1 class="time">TIME</h1>
				</div>
			</div>
		</div>
		<div class="works-rows">
			<div class="works-cols works-col-1">
				<h1 class="works-indicator">HOW</h1>
			</div>
			<div class="works-cols works-col-2">
				<div class="works-text-container">
					<h1 class="works-header">CRAFTING NEW STANDARDS</h1>
					<p class="works-paragraph">
						BY BLENDING ANALYTICAL DATA WITH RAW CREATIVITY TO SOLVE
						THE MOST COMPLEX MARKET CHALLENGES
					</p>
				</div>
			</div>
			<div class="works-cols works-col-3">
				<p class="works-indicator">002./</p>
			</div>
		</div>
		<div class="works-rows">
			<div class="works-cols works-col-1">
				<h1 class="works-indicator">WHAT</h1>
			</div>
			<div class="works-cols works-col-2">
				<div class="works-text-container">
					<h1 class="works-header">BEYOND THE AESTHETIC</h1>
					<p class="works-paragraph">
						DEVELOPING FULL-SCALE DIGITAL ECOSYSTEMS THAT DRIVE
						CONVERSION AND MEASURABLE BUSINESS GROWTH
					</p>
				</div>
			</div>
			<div class="works-cols works-col-3">
				<p class="works-indicator">003./</p>
			</div>
		</div>
		<div class="works-rows">
			<div class="works-cols works-col-1">
				<h1 class="works-indicator">HOW</h1>
			</div>
			<div class="works-cols works-col-2">
				<div class="works-text-container">
					<h1 class="works-header">CRAFTING NEW STANDARDS</h1>
					<p class="works-paragraph">
						BY BLENDING ANALYTICAL DATA WITH RAW CREATIVITY TO SOLVE
						THE MOST COMPLEX MARKET CHALLENGES
					</p>
				</div>
			</div>
			<div class="works-cols works-col-3">
				<p class="works-indicator">002./</p>
			</div>
		</div>
		<div class="works-rows">
			<div class="works-cols works-col-1">
				<h1 class="works-indicator">WHAT</h1>
			</div>
			<div class="works-cols works-col-2">
				<div class="works-text-container">
					<h1 class="works-header">BEYOND THE AESTHETIC</h1>
					<p class="works-paragraph">
						DEVELOPING FULL-SCALE DIGITAL ECOSYSTEMS THAT DRIVE
						CONVERSION AND MEASURABLE BUSINESS GROWTH
					</p>
				</div>
			</div>
			<div class="works-cols works-col-3">
				<p class="works-indicator">003./</p>
			</div>
		</div>
	</section>
</LandingPageLayout>

<script>
	//@ts-nocheck
	import {
		animate,
		stagger,
		utils,
		createTimeline,
		splitText,
		onScroll,
		steps,
	} from "animejs";

	const $logoletters = utils.$(".logo-letters");
	const $navtexts = utils.$(".nav-texts");

	const heroTimeline = createTimeline({});
	heroTimeline
		.set($logoletters, {
			clipPath: "inset(0px 400px 0px 0px)",
			translateY: "1000px",
		})
		.set($navtexts, {
			clipPath: "inset(0px 100px 0px 0px)",
			translateY: "1000px",
		})
		.add($logoletters, {
			clipPath: {
				to: "inset(0px 0px 0px 0px)",
				delay: stagger(200, { ease: "linear" }),
			},
			translateY: {
				to: "0px",
				delay: stagger(200, { ease: "linear" }),
			},
			duration: 2500,
			ease: "inOutExpo",
		})
		.add(
			$navtexts,
			{
				clipPath: {
					to: "inset(0px 0px 0px 0px)",
					delay: stagger(500, { ease: "linear" }),
					ease: "inOutCirc",
				},
				translateY: {
					to: "0px",
					delay: stagger(200, { ease: "linear" }),
					ease: "inOutExpo",
				},

				duration: 2500,
			},
			"-=2000",
		);

	//POC
	const $boxes = utils.$(".boxes");
	const $introHeader = utils.$(".intro-header");
	const { chars: splitIntroHeader } = splitText($introHeader, {
		chars: {
			class: "intro-split-chars",
		},
	});

	const introTimeline = createTimeline();
	introTimeline
		.set($boxes, {
			y: "0px",
		})
		.set(splitIntroHeader, {
			y: "400px",
		})
		.add(splitIntroHeader, {
			y: "50px",
			delay: stagger(100),
			ease: "inOutCirc",
			duration: 1000,
		})

		.add($boxes, {
			y: "1000px",
			delay: stagger(100, {
				start: 150, //kapan mulai
				reversed: false,
			}),
			ease: "inOutCirc",
			duration: 1000,
		})
		.set(utils.$(".intro"), {
			display: "none",
		});

	const boxScrollObserver = () => {
		animate(utils.$(".one"), {
			autoplay: onScroll({
				// debug: true,
				enter: "bottom start",
				leave: "start bottom",
				sync: "resume pause reverse reset", //scrubbing kalau di gsap
				onEnter: () => {
					console.log("MASUKKK ");
				},
			}),
			x: "1.25em",
			ease: "inOutExpo",
		});
		animate(utils.$(".box"), {
			autoplay: onScroll({
				// debug: true,
				enter: "bottom start",
				leave: "start bottom",
				sync: "resume pause reverse reset", //scrubbing kalau di gsap
				onEnter: () => {
					console.log("MASUKKK ");
				},
			}),
			x: "-0.72em",
			ease: "inOutExpo",
			delay: 500,
		});
	};
	const atScrollObserver = () => {
		animate(utils.$(".at"), {
			autoplay: onScroll({
				// debug: true,
				enter: "bottom start",
				leave: "start bottom",
				sync: "resume pause reverse reset", //scrubbing kalau di gsap
				onEnter: () => {
					console.log("MASUKKK ");
				},
			}),
			x: "2.5em",
			ease: steps(5),
		});
	};

	const timeScrollObserver = () => {
		animate(utils.$(".time"), {
			autoplay: onScroll({
				// debug: true,
				enter: "bottom start",
				leave: "start bottom",
				sync: "resume pause reverse reset", //scrubbing kalau di gsap
				onEnter: () => {
					console.log("MASUKKK ");
				},
			}),
			x: "1em",
			ease: "outBounce",
		});
		animate(utils.$(".a"), {
			autoplay: onScroll({
				// debug: true,
				enter: "bottom start",
				leave: "start bottom",
				sync: "resume pause reverse reset", //scrubbing kalau di gsap
				onEnter: () => {
					console.log("MASUKKK ");
				},
			}),
			x: "1em",
			delay: 1000,
			ease: "outBounce",
		});
	};

	//master timeline -> main control
	const masterTimeline = createTimeline();
	masterTimeline
		.sync(introTimeline)
		.sync(heroTimeline, "1050")
		.call(boxScrollObserver)
		.call(atScrollObserver)
		.call(timeScrollObserver);

	// masterTimeline.pause();
</script>
