---
import LandingPageLayout from "../layouts/LandingPageLayout.astro";
import {
	Oletter,
	Nletter,
	Eletter,
	Bletter,
	Xletter,
} from "../components/LogoSvg.astro";
import "../styles/landingpage.scss";
---

<LandingPageLayout>
	<section class="hero">
		<div class="hero-h1-row">
			<Oletter class="logo-letters" width={"auto"} height={"auto"} />
			<Nletter class="logo-letters" width={"auto"} height={"auto"} />
			<Eletter class="logo-letters" width={"auto"} height={"auto"} />
			<Bletter class="logo-letters" width={"auto"} height={"auto"} />
			<Oletter class="logo-letters" width={"auto"} height={"auto"} />
			<Xletter class="logo-letters" width={"auto"} height={"auto"} />
		</div>
		<div class="hero-menu-row">
			<nav>
				<ul>
					<li>
						<a class="nav-texts" href="#"><p>HOME</p></a>
					</li>
					<li>
						<a class="nav-texts" href="#"><p>ABOUT</p></a>
					</li>
					<li>
						<a class="nav-texts" href="#"><p>WORKS</p></a>
					</li>
				</ul>
			</nav>
		</div>
	</section>
</LandingPageLayout>
<script>
	//@ts-nocheck
	import { animate, stagger, utils, createTimeline } from "animejs";

	const $logoletters = utils.$(".logo-letters");
	const $navtexts = utils.$(".nav-texts");

	const timeline = createTimeline();
	timeline
		.set($logoletters, {
			clipPath: "inset(0px 400px 0px 0px)",
		})
		.set($navtexts, {
			clipPath: "inset(0px 100px 0px 0px)",
		})
		.add($logoletters, {
			clipPath: {
				to: "inset(0px 0px 0px 0px)",
				delay: stagger(200, { ease: "linear" }),
			},
			translateY: {
				to: ["1000px", "0px"],
				delay: stagger(200, { ease: "linear" }),
			},
			duration: 2500,
			ease: "inOutExpo",
		})
		.add($navtexts, {
			clipPath: {
				to: "inset(0px 0px 0px 0px)",
			},
			delay: stagger(200, { ease: "linear" }),
			duration: 1000,
			ease: "inOutExpo",
		});
</script>
