---
import LandingPageLayout from "../layouts/LandingPageLayout.astro";
import {
	Oletter,
	Nletter,
	Eletter,
	Bletter,
	Xletter,
} from "../components/LogoSvg.astro";
import '../styles/landingpage.scss'
---

<LandingPageLayout>
	<section class="hero">
		<div class="hero-h1-row">
			<Oletter />
			<Nletter />
			<Eletter />
			<Bletter />
			<Oletter />
			<Xletter />
		</div>
		<div class="hero-menu-row">
			<nav>
				<ul>
					<li>
						<a href="#"><p>HOME</p></a>
					</li>
					<li>
						<a href="#"><p>ABOUT</p></a>
					</li>
					<li>
						<a href="#"><p>WORKS</p></a>
					</li>
				</ul>
			</nav>
		</div>
	</section>
</LandingPageLayout>
