---
import LandingPageLayout from "../layouts/LandingPageLayout.astro";
import {
	Oletter,
	Nletter,
	Eletter,
	Bletter,
	Xletter,
} from "../components/LogoSvg.astro";
import "../styles/landingpage.scss";
import LogoFooter from "../assets/logo/LOGO4X.png"
import { Image } from "astro:assets";

const hourNow = new Date().toLocaleTimeString("en-US", {
	hourCycle: "h24",
	timeStyle: "medium",
});
---

<LandingPageLayout>
	<section class="intro">
		<div class="boxes box-1">
			<h1 class="intro-welcome">YOURE JUST IN TIME</h1>
			<h1 class="intro-header">{hourNow}</h1>
		</div>
		<div class="boxes box-2"></div>
		<div class="boxes box-3"></div>
		<div class="boxes box-4"></div>
		<div class="boxes box-5"></div>
	</section>
	<section class="hero">
		<div class="hero-h1-row">
			<Oletter class="logo-letters" />
			<Nletter class="logo-letters" />
			<Eletter class="logo-letters" />
			<Bletter class="logo-letters" />
			<Oletter class="logo-letters" />
			<Xletter class="logo-letters" />
		</div>
		<div class="hero-menu-row">
			<nav>
				<ul>
					<li>
						<a class="nav-texts" href="#">HOME</a>
					</li>
					<li>
						<Oletter class="nav-texts nav-separator" />
					</li>
					<li>
						<a class="nav-texts" href="#">ABOUT</a>
					</li>
					<li>
						<Oletter class="nav-texts nav-separator" />
					</li>
					<li>
						<a class="nav-texts" href="#">WORKS</a>
					</li>
					<li>
						<Oletter class="nav-texts nav-separator" />
					</li>
					<li>
						<a class="nav-texts" href="#">GIVE US A CALL</a>
					</li>
				</ul>
			</nav>
		</div>
	</section>
	<section class="works">
		<div class="works-rows">
			<div class="works-cols works-col-1">
				<div class="work-text-clipper">
					<h1 class="works-indicator">WHY</h1>
				</div>
			</div>
			<div class="works-cols works-col-2">
				<div class="works-text-container">
					<div class="work-text-clipper">
						<h1 class="works-header">WE DEFINE THE FUTURE</h1>
					</div>
					<div class="work-text-clipper">
						<p class="works-paragraph">
							STRATEGIC BRAND CONSULTANCY HELPING VISIONARY
							LEADERS ARCHITECT UNIQUE IDENTITIES THAT DOMINATE
						</p>
					</div>
				</div>
			</div>
			<div class="works-cols works-col-3">
				<div class="work-text-clipper">
					<p class="works-indicator">001./</p>
				</div>
			</div>
		</div>

		<div class="works-rows">
			<div class="works-cols works-col-1">
				<div class="work-text-clipper">
					<h1 class="works-indicator">HOW</h1>
				</div>
			</div>
			<div class="works-cols works-col-2">
				<div class="works-text-container">
					<div class="work-text-clipper">
						<h1 class="works-header">CRAFTING NEW STANDARDS</h1>
					</div>
					<div class="work-text-clipper">
						<p class="works-paragraph">
							BY BLENDING ANALYTICAL DATA WITH RAW CREATIVITY TO
							SOLVE THE MOST COMPLEX MARKET CHALLENGES
						</p>
					</div>
				</div>
			</div>
			<div class="works-cols works-col-3">
				<div class="work-text-clipper">
					<p class="works-indicator">002./</p>
				</div>
			</div>
		</div>

		<div class="works-rows">
			<div class="works-cols works-col-1">
				<div class="work-text-clipper">
					<h1 class="works-indicator">WHAT</h1>
				</div>
			</div>
			<div class="works-cols works-col-2">
				<div class="works-text-container">
					<div class="work-text-clipper">
						<h1 class="works-header">BEYOND THE AESTHETIC</h1>
					</div>
					<div class="work-text-clipper">
						<p class="works-paragraph">
							DEVELOPING FULL-SCALE DIGITAL ECOSYSTEMS THAT DRIVE
							CONVERSION AND MEASURABLE BUSINESS GROWTH
						</p>
					</div>
				</div>
			</div>
			<div class="works-cols works-col-3">
				<div class="work-text-clipper">
					<p class="works-indicator">003./</p>
				</div>
			</div>
		</div>
	</section>
	<section class="footer">
		<Image class="logo-footer" src={LogoFooter} alt="logo footer"/>
	</section>
</LandingPageLayout>

<script src="../scripts/animation.js"/>